.buttons{
    margin-top: 10rem;}





a{
    margin :5rem;
    padding: 0.7rem 1.5rem;
    color: white;
    background: blue;
    text-decoration: none;
    cursor: pointer;
}
.one{
    border:10px solid green;

}
.two{
    /* outline-width: 10px;
    outline-color: orange;
    outline-style: solid; */
    outline: solid black;
    outline-offset: 10px;

}